:root {
  font-size: 16px;
}
body {
  margin: 0;
}
nav {
  background-color: lightgrey;
  overflow-y: auto;
}
nav > a {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  background-color: steelblue;
  width: calc(25% - 4em - 2px);
  text-align: center;
  float: left;
}

.lefthigh {
  float: left;
  margin: 0 1em 1em 0;
}

.righthigh {
  float: right;
  margin: 0 1em 1em 0;
}
.leftdown {
  clear: left;
}
