:root {
  --mu-light: #00a3ad;
  --mu-dark: #004851;
  --mu-purple: #814795;
  --mu-black: #2c2a29;
  --mu-gray: #e1e2ed;
  --mu-red: D50032;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--mu-gray);
}
.header {
  background-color: #00a3ad;
  padding: 10px;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: column;
}
nav > a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  background-color: #004851;
  border-radius: 10px;
}
nav > a:first-child {
  margin-top: 25px;
}

article {
  border: 1px solid transparent;
  margin: 1rem 1rem 1rem 1rem;
  position: relative;
  width: calc(100% - 2rem);
  height: calc(100%-2rem);
  border-radius: 0 0 15px 15px;
  box-shadow: 0 5px 5px 1px var(--mu-dark);
}
article:first-child {
  margin-top: 0px;
}
article:last-child {
  margin-bottom: 0px;
  border-radius: 0;
}

.imagenasignatura {
  border-radius: 0 0 5px 5px;
  width: 100%;
  display: block;
}

#logo {
  position: absolute;
  top: 0;
  max-height: 20%;
  background-color: white;
}

.description > ul {
  padding: 1rem;
  padding-left: 3rem;
  padding-bottom: auto;
  color: white;
}
.description{
  background-color: var(--mu-purple);
  border-radius: 0 0 15px 15px;
}

footer {
  background-color: black;
  padding: 20px;
}
footer > button {
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .header {
    float: left;
    margin: 20px;
    width: 90%;
    margin-left: 0;
    border-radius: 0 28px 28px 0;
  }
  main {
    clear: both;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "articles nav"
    "footer footer";
  }
  article:first-child {
    margin-top: 1rem;
  }
  nav {
    grid-area: nav;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
  }
  .container {
    grid-area: articles;
    display: flex;
    flex-direction: column;
  }

  article {
    margin-left: 10px;
  }
  article:last-child {
    margin-bottom: 25px;
    border-radius: 0 0 15px 15px;
  }
  footer {
    grid-area: footer;
  }
  footer > button{
    float: left;
    width: calc(100%/3 - 20px);
    margin: 10px;
  }
}
@media screen and (min-width: 1024px) {
  main {
    grid-template-areas:
      "articles nav"
      "footer footer";
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    
  }
  article  {
    flex-grow: 1;
    width: calc(100%/2 - 30px);
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 1;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  main {
    grid-template-columns: 100%;
    grid-template-areas:
      "articles"
      "nav"
      "footer";
  }
  .container{
    grid-area: articles;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  article {
    width: calc(100%/3 - 30px);
    flex-grow: 1;
  }
  nav{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }
  nav > a{
    padding:30px;
    display: block;
    width: 100%;
    flex-grow: 1;
    margin: 10px;
  }
  nav> a:first-child{
    margin-top: 10px;
  }

}
